#footer {
  background-image: url("../images/ftbg.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; }
  @media only screen and (max-width: 768px) {
    #footer {
      background-size: cover;
      background-position: unset; } }
  #footer .container-footer {
    max-width: 1370px;
    padding-top: 210px; }
    #footer .container-footer.ft-2 {
      padding-top: 25px;
      padding-bottom: 25px; }
  @media only screen and (max-width: 768px) {
    #footer .info-footer {
      padding-top: 25px; } }
  #footer .info-footer h4 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 30px; }
  #footer .info-footer .desc ul li {
    font-size: 14px;
    color: #73beee;
    line-height: 28px;
    position: relative; }
    #footer .info-footer .desc ul li.plus:before {
      content: "+";
      font-family: "fontawesome";
      position: absolute;
      top: 1.5px;
      z-index: 9; }
    #footer .info-footer .desc ul li.plus span {
      padding-left: 15px;
      display: block; }
    #footer .info-footer .desc ul li span.map:before {
      content: "\f041";
      font-family: "fontawesome";
      padding-right: 6px; }
    #footer .info-footer .desc ul li span.phone:before {
      content: "\f095";
      font-family: "fontawesome";
      padding-right: 6px; }
    #footer .info-footer .desc ul li span.mail:before {
      content: "\f0e0";
      font-family: "fontawesome";
      padding-right: 6px; }
  #footer .info-footer .desc .link-gg-map {
    padding-top: 70px; }
    @media only screen and (max-width: 768px) {
      #footer .info-footer .desc .link-gg-map {
        padding-top: 15px; } }
    #footer .info-footer .desc .link-gg-map a {
      display: flex;
      align-items: center; }
    #footer .info-footer .desc .link-gg-map p {
      font-size: 16px;
      color: #fff; }
    #footer .info-footer .desc .link-gg-map img {
      object-fit: contain; }
      #footer .info-footer .desc .link-gg-map img:first-child {
        width: 42px;
        margin-right: 10px; }
      #footer .info-footer .desc .link-gg-map img:last-child {
        width: 97px;
        margin-left: 10px; }
  #footer .end-ft {
    border-top: 1px solid #3D4C88;
    margin-top: 48px; }
    #footer .end-ft ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      #footer .end-ft ul li:after {
        content: "|";
        padding: 0px 10px;
        color: #73beee; }
      #footer .end-ft ul li:last-child:after {
        content: ""; }
      #footer .end-ft ul li a {
        color: #73beee;
        font-size: 12px; }
    @media only screen and (max-width: 768px) {
      #footer .end-ft .sign-up-pages {
        margin-top: 25px; } }
    #footer .end-ft .sign-up-pages form {
      display: flex;
      align-items: center; }
      #footer .end-ft .sign-up-pages form label {
        font-size: 14px;
        text-transform: uppercase;
        color: #8FD3FF;
        font-weight: 600; }
      #footer .end-ft .sign-up-pages form .sign-up-box {
        display: flex;
        margin-left: 20px; }
        #footer .end-ft .sign-up-pages form .sign-up-box input {
          border: none;
          width: 121px;
          height: 40px;
          padding-left: 7px;
          border-radius: 3px 0px 0px 3px;
          outline: none; }
          @media only screen and (max-width: 768px) {
            #footer .end-ft .sign-up-pages form .sign-up-box input {
              width: 100%; } }
        #footer .end-ft .sign-up-pages form .sign-up-box button {
          width: 45px;
          background: #F11C3D;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;
          border-radius: 0px 3px 3px 0px; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 45px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #D6102E url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
    @media only screen and (max-width: 576px) {
      #footer a.cd-top {
        display: none; } }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
