#header .container-header {
  max-width: 1370px; }
#header .header-main {
  padding: 12px 0px; }
  #header .header-main .logo {
    max-width: 330px;
    height: auto; }
  #header .header-main .header-main-nav .nav-item {
    margin-right: 23px; }
    #header .header-main .header-main-nav .nav-item:last-child {
      margin-right: 0px; }
  #header .header-main .header-main-nav .nav-link {
    padding: 0;
    display: flex;
    align-items: center; }
    #header .header-main .header-main-nav .nav-link.booking-advisory {
      font-size: 20px;
      font-family: 'Segoeui Bold';
      background-color: #D6102E;
      color: #fff;
      border-radius: 30px;
      padding: 5px 17px; }
      #header .header-main .header-main-nav .nav-link.booking-advisory span {
        position: relative;
        padding-left: 25px;
        margin-bottom: 3px; }
        #header .header-main .header-main-nav .nav-link.booking-advisory span:before {
          content: url(../images_icon/calender.png);
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          left: 0; }
    #header .header-main .header-main-nav .nav-link.contact-advisory {
      font-size: 18px;
      position: relative;
      padding-left: 35px; }
      #header .header-main .header-main-nav .nav-link.contact-advisory:before {
        content: url(../images_icon/phone.png);
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 0; }
    #header .header-main .header-main-nav .nav-link.contact-link {
      font-size: 18px;
      transition: .2s; }
      #header .header-main .header-main-nav .nav-link.contact-link:hover {
        color: #D6102E; }
    #header .header-main .header-main-nav .nav-link.search-header {
      background: none;
      transition: .3s; }
      #header .header-main .header-main-nav .nav-link.search-header:hover {
        color: #D6102E; }
#header .header-bottom {
  border-bottom: 2px solid #D6102E; }
  #header .header-bottom.fixed-stuck {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    animation: fade_stuck 1s forwards;
    z-index: 999; }
@keyframes fade_stuck {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  #header .header-bottom .nav-item {
    line-height: 30px;
    transition: .3s ease-out;
    position: relative; }
    #header .header-bottom .nav-item.has-drop-full {
      position: static; }
    #header .header-bottom .nav-item:hover .drop-down {
      opacity: 1;
      visibility: visible; }
    #header .header-bottom .nav-item .drop-down {
      position: absolute;
      background-color: #fff;
      width: 100%;
      padding: 15px 20px 15px 20px;
      border-top: 2px solid #D6102E;
      -webkit-box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
      box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
      opacity: 0;
      visibility: hidden;
      transition: .3s ease-out;
      z-index: 99; }
      #header .header-bottom .nav-item .drop-down.full-drop-down {
        width: 100vw;
        left: 0;
        padding: 30px 30px;
        display: flex;
        background-image: url(../images/bg_drop.png);
        background-repeat: no-repeat;
        background-size: 356px 290px;
        background-position: right 40px bottom; }
        #header .header-bottom .nav-item .drop-down.full-drop-down .item-full-drop {
          margin-right: 70px; }
          #header .header-bottom .nav-item .drop-down.full-drop-down .item-full-drop:last-child {
            margin-right: unset; }
          #header .header-bottom .nav-item .drop-down.full-drop-down .item-full-drop .title-full-drop {
            font-size: 22px;
            font-weight: 700; }
        #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full {
          padding-top: 16px; }
          #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a {
            font-size: 15px;
            color: #333333;
            transition: .3s; }
            #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a.see-more-list {
              color: #d6102e; }
              #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a.see-more-list:before {
                content: "";
                padding-right: unset; }
            #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a:hover {
              color: #d6102e; }
            #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a:before {
              content: "\f105";
              font-family: "fontawesome";
              padding-right: 10px; }
      #header .header-bottom .nav-item .drop-down li a {
        color: #202C5A;
        transition: .3s ease-out; }
        #header .header-bottom .nav-item .drop-down li a:hover {
          color: #D6102E; }
  #header .header-bottom .nav-link {
    font-size: 15px;
    color: #202c5a;
    text-transform: uppercase;
    font-weight: 600; }
    #header .header-bottom .nav-link.has-drop-full {
      position: relative; }
    #header .header-bottom .nav-link.active {
      color: #D6102E; }
    #header .header-bottom .nav-link:hover {
      background: #D6102E; }
    #header .header-bottom .nav-link:hover {
      color: #fff; }
    #header .header-bottom .nav-link.home-page-link:before {
      content: "\f015";
      font-family: "fontawesome";
      font-size: 20px; }
    #header .header-bottom .nav-link.has-drop-child:after {
      content: "\f107";
      font-family: "fontawesome";
      margin-left: 7px; }
  #header .header-bottom .nav-mobile .logo {
    max-width: 230px;
    margin: auto; }
  #header .header-bottom .nav-mobile button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 25px; }
    #header .header-bottom .nav-mobile button.search-header {
      background: #fff;
      transition: .3s;
      font-size: 25px; }
      #header .header-bottom .nav-mobile button.search-header:hover {
        color: #D6102E; }

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb.overlay-open {
    display: block; }

.over-lay-mb-bars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb-bars.overlay-open {
    display: block; }

.moblie-menu-box {
  position: fixed;
  top: 0px;
  left: -100vw;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
  box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
  z-index: 9999; }
  .moblie-menu-box.open_mneu {
    left: 0;
    opacity: 1;
    visibility: visible; }
  .moblie-menu-box .nav-mb-menu {
    padding: 110px 20px; }
    .moblie-menu-box .nav-mb-menu li {
      width: 100%;
      border-bottom: 1px solid #2125290e;
      padding-bottom: 5px;
      margin-bottom: 10px;
      position: relative; }
      .moblie-menu-box .nav-mb-menu li a {
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 30px; }
      .moblie-menu-box .nav-mb-menu li .btn-drop-nav-menu {
        border: none;
        outline: none;
        background-color: transparent;
        transition: .3s ease-out;
        position: absolute;
        top: 3px;
        right: 0; }
        .moblie-menu-box .nav-mb-menu li .btn-drop-nav-menu.active {
          transform: rotateZ(90deg); }
      .moblie-menu-box .nav-mb-menu li .drop-down-mb {
        opacity: 0;
        visibility: hidden;
        height: 0;
        padding: 0;
        transition: .3s ease-out;
        overflow: hidden; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb.minus-font-c1 li a {
          font-size: 18px; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb.minus-font-c2 li a {
          font-size: 17px; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb li {
          border-bottom: unset; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb.show-drop-down {
          opacity: 1;
          visibility: visible;
          height: unset;
          padding: 10px 20px 10px 20px;
          overflow: visible; }
  .moblie-menu-box .close-nav-box {
    position: absolute;
    top: 10px;
    right: 10px; }
    .moblie-menu-box .close-nav-box button {
      font-size: 22px;
      background: none;
      transition: .3s ease-out; }

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none; }
  .box-search_header.active_show {
    display: block; }
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1); } }
  .box-search_header label {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: #fff; }
  .box-search_header form {
    display: flex; }
    .box-search_header form input {
      border: none;
      outline: none;
      width: 400px;
      height: 40px;
      padding-left: 10px; }
      @media only screen and (max-width: 768px) {
        .box-search_header form input {
          width: 100%; } }
    .box-search_header form button {
      width: 40px;
      background: #D6102E;
      color: #fff; }

/*# sourceMappingURL=header.css.map */
