html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: 'Segoeui Normal';
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle; }
  @media only screen and (max-width: 768px) {
    img {
      object-fit: fill; } }

@media only screen and (max-width) {
  html {
    overflow-x: hidden; } }
button {
  cursor: pointer;
  border: none;
  outline: none; }
  button:focus {
    outline: none; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Segoeui Normal';
  src: url("../fonts/font/segoeui.ttf"); }
@font-face {
  font-family: 'Segoeui Bold';
  src: url("../fonts/font/segoeuib.ttf"); }
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/font/UTM Bebas.ttf"); }
@font-face {
  font-family: 'Avo Bold';
  src: url("../fonts/font/UTM AvoBold.ttf"); }
.owl-carousel .item {
  margin-bottom: 10px; }
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset; }
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none; }
  .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: #343A40; }
  .owl-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
    background: #FFFFFF; }
    .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
      background-color: #343A40; }
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible; }
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset; }
  @media only screen and (max-width: 768px) {
    .owl-carousel .owl-nav {
      opacity: 1;
      visibility: visible; } }
  .owl-carousel .owl-nav button {
    background-color: none;
    border: none;
    outline: none;
    font-size: 50px;
    z-index: 4; }
    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      top: 50%;
      left: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-prev {
          left: -20px; } }
    .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      top: 50%;
      right: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-next {
          right: -20px; } }

#header .container-header {
  max-width: 1370px; }
#header .header-main {
  padding: 12px 0px; }
  #header .header-main .logo {
    max-width: 330px;
    height: auto; }
  #header .header-main .header-main-nav .nav-item {
    margin-right: 23px; }
    #header .header-main .header-main-nav .nav-item:last-child {
      margin-right: 0px; }
  #header .header-main .header-main-nav .nav-link {
    padding: 0;
    display: flex;
    align-items: center; }
    #header .header-main .header-main-nav .nav-link.booking-advisory {
      font-size: 20px;
      font-family: 'Segoeui Bold';
      background-color: #D6102E;
      color: #fff;
      border-radius: 30px;
      padding: 5px 17px; }
      #header .header-main .header-main-nav .nav-link.booking-advisory span {
        position: relative;
        padding-left: 25px;
        margin-bottom: 3px; }
        #header .header-main .header-main-nav .nav-link.booking-advisory span:before {
          content: url(../images_icon/calender.png);
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          left: 0; }
    #header .header-main .header-main-nav .nav-link.contact-advisory {
      font-size: 18px;
      position: relative;
      padding-left: 35px; }
      #header .header-main .header-main-nav .nav-link.contact-advisory:before {
        content: url(../images_icon/phone.png);
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 0; }
    #header .header-main .header-main-nav .nav-link.contact-link {
      font-size: 18px;
      transition: .2s; }
      #header .header-main .header-main-nav .nav-link.contact-link:hover {
        color: #D6102E; }
    #header .header-main .header-main-nav .nav-link.search-header {
      background: none;
      transition: .3s; }
      #header .header-main .header-main-nav .nav-link.search-header:hover {
        color: #D6102E; }
#header .header-bottom {
  border-bottom: 2px solid #D6102E; }
  #header .header-bottom.fixed-stuck {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    animation: fade_stuck 1s forwards;
    z-index: 999; }
@keyframes fade_stuck {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  #header .header-bottom .nav-item {
    line-height: 30px;
    transition: .3s ease-out;
    position: relative; }
    #header .header-bottom .nav-item.has-drop-full {
      position: static; }
    #header .header-bottom .nav-item:hover .drop-down {
      opacity: 1;
      visibility: visible; }
    #header .header-bottom .nav-item .drop-down {
      position: absolute;
      background-color: #fff;
      width: 100%;
      padding: 15px 20px 15px 20px;
      border-top: 2px solid #D6102E;
      -webkit-box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
      box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
      opacity: 0;
      visibility: hidden;
      transition: .3s ease-out;
      z-index: 99; }
      #header .header-bottom .nav-item .drop-down.full-drop-down {
        width: 100vw;
        left: 0;
        padding: 30px 30px;
        display: flex;
        background-image: url(../images/bg_drop.png);
        background-repeat: no-repeat;
        background-size: 356px 290px;
        background-position: right 40px bottom; }
        #header .header-bottom .nav-item .drop-down.full-drop-down .item-full-drop {
          margin-right: 70px; }
          #header .header-bottom .nav-item .drop-down.full-drop-down .item-full-drop:last-child {
            margin-right: unset; }
          #header .header-bottom .nav-item .drop-down.full-drop-down .item-full-drop .title-full-drop {
            font-size: 22px;
            font-weight: 700; }
        #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full {
          padding-top: 16px; }
          #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a {
            font-size: 15px;
            color: #333333;
            transition: .3s; }
            #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a.see-more-list {
              color: #d6102e; }
              #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a.see-more-list:before {
                content: "";
                padding-right: unset; }
            #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a:hover {
              color: #d6102e; }
            #header .header-bottom .nav-item .drop-down.full-drop-down .sub-drop-full li a:before {
              content: "\f105";
              font-family: "fontawesome";
              padding-right: 10px; }
      #header .header-bottom .nav-item .drop-down li a {
        color: #202C5A;
        transition: .3s ease-out; }
        #header .header-bottom .nav-item .drop-down li a:hover {
          color: #D6102E; }
  #header .header-bottom .nav-link {
    font-size: 15px;
    color: #202c5a;
    text-transform: uppercase;
    font-weight: 600; }
    #header .header-bottom .nav-link.has-drop-full {
      position: relative; }
    #header .header-bottom .nav-link.active {
      color: #D6102E; }
    #header .header-bottom .nav-link:hover {
      background: #D6102E; }
    #header .header-bottom .nav-link:hover {
      color: #fff; }
    #header .header-bottom .nav-link.home-page-link:before {
      content: "\f015";
      font-family: "fontawesome";
      font-size: 20px; }
    #header .header-bottom .nav-link.has-drop-child:after {
      content: "\f107";
      font-family: "fontawesome";
      margin-left: 7px; }
  #header .header-bottom .nav-mobile .logo {
    max-width: 230px;
    margin: auto; }
  #header .header-bottom .nav-mobile button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 25px; }
    #header .header-bottom .nav-mobile button.search-header {
      background: #fff;
      transition: .3s;
      font-size: 25px; }
      #header .header-bottom .nav-mobile button.search-header:hover {
        color: #D6102E; }

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb.overlay-open {
    display: block; }

.over-lay-mb-bars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb-bars.overlay-open {
    display: block; }

.moblie-menu-box {
  position: fixed;
  top: 0px;
  left: -100vw;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
  box-shadow: 0px 2px 10px 0px rgba(233, 233, 233, 0.53);
  z-index: 9999; }
  .moblie-menu-box.open_mneu {
    left: 0;
    opacity: 1;
    visibility: visible; }
  .moblie-menu-box .nav-mb-menu {
    padding: 110px 20px; }
    .moblie-menu-box .nav-mb-menu li {
      width: 100%;
      border-bottom: 1px solid #2125290e;
      padding-bottom: 5px;
      margin-bottom: 10px;
      position: relative; }
      .moblie-menu-box .nav-mb-menu li a {
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 30px; }
      .moblie-menu-box .nav-mb-menu li .btn-drop-nav-menu {
        border: none;
        outline: none;
        background-color: transparent;
        transition: .3s ease-out;
        position: absolute;
        top: 3px;
        right: 0; }
        .moblie-menu-box .nav-mb-menu li .btn-drop-nav-menu.active {
          transform: rotateZ(90deg); }
      .moblie-menu-box .nav-mb-menu li .drop-down-mb {
        opacity: 0;
        visibility: hidden;
        height: 0;
        padding: 0;
        transition: .3s ease-out;
        overflow: hidden; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb.minus-font-c1 li a {
          font-size: 18px; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb.minus-font-c2 li a {
          font-size: 17px; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb li {
          border-bottom: unset; }
        .moblie-menu-box .nav-mb-menu li .drop-down-mb.show-drop-down {
          opacity: 1;
          visibility: visible;
          height: unset;
          padding: 10px 20px 10px 20px;
          overflow: visible; }
  .moblie-menu-box .close-nav-box {
    position: absolute;
    top: 10px;
    right: 10px; }
    .moblie-menu-box .close-nav-box button {
      font-size: 22px;
      background: none;
      transition: .3s ease-out; }

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none; }
  .box-search_header.active_show {
    display: block; }
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1); } }
  .box-search_header label {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: #fff; }
  .box-search_header form {
    display: flex; }
    .box-search_header form input {
      border: none;
      outline: none;
      width: 400px;
      height: 40px;
      padding-left: 10px; }
      @media only screen and (max-width: 768px) {
        .box-search_header form input {
          width: 100%; } }
    .box-search_header form button {
      width: 40px;
      background: #D6102E;
      color: #fff; }

#footer {
  background-image: url("../images/ftbg.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; }
  @media only screen and (max-width: 768px) {
    #footer {
      background-size: cover;
      background-position: unset; } }
  #footer .container-footer {
    max-width: 1370px;
    padding-top: 210px; }
    #footer .container-footer.ft-2 {
      padding-top: 25px;
      padding-bottom: 25px; }
  @media only screen and (max-width: 768px) {
    #footer .info-footer {
      padding-top: 25px; } }
  #footer .info-footer h4 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 30px; }
  #footer .info-footer .desc ul li {
    font-size: 14px;
    color: #73beee;
    line-height: 28px;
    position: relative; }
    #footer .info-footer .desc ul li.plus:before {
      content: "+";
      font-family: "fontawesome";
      position: absolute;
      top: 1.5px;
      z-index: 9; }
    #footer .info-footer .desc ul li.plus span {
      padding-left: 15px;
      display: block; }
    #footer .info-footer .desc ul li span.map:before {
      content: "\f041";
      font-family: "fontawesome";
      padding-right: 6px; }
    #footer .info-footer .desc ul li span.phone:before {
      content: "\f095";
      font-family: "fontawesome";
      padding-right: 6px; }
    #footer .info-footer .desc ul li span.mail:before {
      content: "\f0e0";
      font-family: "fontawesome";
      padding-right: 6px; }
  #footer .info-footer .desc .link-gg-map {
    padding-top: 70px; }
    @media only screen and (max-width: 768px) {
      #footer .info-footer .desc .link-gg-map {
        padding-top: 15px; } }
    #footer .info-footer .desc .link-gg-map a {
      display: flex;
      align-items: center; }
    #footer .info-footer .desc .link-gg-map p {
      font-size: 16px;
      color: #fff; }
    #footer .info-footer .desc .link-gg-map img {
      object-fit: contain; }
      #footer .info-footer .desc .link-gg-map img:first-child {
        width: 42px;
        margin-right: 10px; }
      #footer .info-footer .desc .link-gg-map img:last-child {
        width: 97px;
        margin-left: 10px; }
  #footer .end-ft {
    border-top: 1px solid #3D4C88;
    margin-top: 48px; }
    #footer .end-ft ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      #footer .end-ft ul li:after {
        content: "|";
        padding: 0px 10px;
        color: #73beee; }
      #footer .end-ft ul li:last-child:after {
        content: ""; }
      #footer .end-ft ul li a {
        color: #73beee;
        font-size: 12px; }
    @media only screen and (max-width: 768px) {
      #footer .end-ft .sign-up-pages {
        margin-top: 25px; } }
    #footer .end-ft .sign-up-pages form {
      display: flex;
      align-items: center; }
      #footer .end-ft .sign-up-pages form label {
        font-size: 14px;
        text-transform: uppercase;
        color: #8FD3FF;
        font-weight: 600; }
      #footer .end-ft .sign-up-pages form .sign-up-box {
        display: flex;
        margin-left: 20px; }
        #footer .end-ft .sign-up-pages form .sign-up-box input {
          border: none;
          width: 121px;
          height: 40px;
          padding-left: 7px;
          border-radius: 3px 0px 0px 3px;
          outline: none; }
          @media only screen and (max-width: 768px) {
            #footer .end-ft .sign-up-pages form .sign-up-box input {
              width: 100%; } }
        #footer .end-ft .sign-up-pages form .sign-up-box button {
          width: 45px;
          background: #F11C3D;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;
          border-radius: 0px 3px 3px 0px; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 45px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #D6102E url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
    @media only screen and (max-width: 576px) {
      #footer a.cd-top {
        display: none; } }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

.container {
  max-width: 1170px; }

@media only screen and (max-width: 768px) {
  #wrapper {
    overflow-x: hidden; } }
@media only screen and (max-width: 768px) {
  .widget-right {
    margin-top: 20px; } }
.widget-right h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }
.widget-right .search-widget form {
  display: flex;
  -webkit-box-shadow: 0px 0px 12px 1px #E0E0E0;
  box-shadow: 0px 0px 12px 1px #E0E0E0; }
  .widget-right .search-widget form input {
    width: 100%;
    height: 40px;
    border-top: 1px solid #2A3A78;
    border-right: none;
    border-bottom: 1px solid #2A3A78;
    border-left: 1px solid #2A3A78;
    outline: none;
    padding-left: 10px; }
  .widget-right .search-widget form .btn-search-widget {
    width: 45px;
    color: #fff;
    background: #212E5D;
    border-radius: 0px 4px 4px 0px; }
.widget-right .sign-up-widget {
  max-width: 100%;
  height: 175px;
  background-image: url(../images/widget-img1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 12px 1px #E0E0E0;
  box-shadow: 0px 0px 12px 1px #E0E0E0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px; }
  .widget-right .sign-up-widget .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.534); }
  .widget-right .sign-up-widget .sign-up {
    z-index: 3;
    position: relative; }
    .widget-right .sign-up-widget .sign-up a {
      background: linear-gradient(0deg, #fdfdfd 48%, #f1f1f1 100%);
      padding: 10px 60px;
      border-radius: 40px;
      color: #202C5A;
      font-size: 16px;
      font-weight: 700;
      display: table;
      vertical-align: middle; }
      .widget-right .sign-up-widget .sign-up a span:before {
        content: "\f040";
        font-family: "fontawesome";
        color: #666666;
        padding-right: 6px; }
  .widget-right .sign-up-widget .down-load {
    z-index: 3;
    position: relative;
    margin-top: 10px; }
    .widget-right .sign-up-widget .down-load i {
      color: #666666;
      padding-right: 6px; }
    .widget-right .sign-up-widget .down-load a {
      background: linear-gradient(0deg, #fdfdfd 48%, #f1f1f1 100%);
      padding: 10px 47px;
      border-radius: 40px;
      color: #202C5A;
      font-size: 16px;
      font-weight: 700;
      display: table;
      vertical-align: middle; }
    .widget-right .sign-up-widget .down-load h5 {
      font-size: 16px;
      font-weight: 700; }
    .widget-right .sign-up-widget .down-load p {
      font-size: 13px;
      color: #666666;
      font-weight: 400; }
.widget-right .hot-news {
  margin-top: 30px; }
  .widget-right .hot-news .media {
    border-bottom: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px; }
    .widget-right .hot-news .media:last-child {
      border-bottom: unset; }
    .widget-right .hot-news .media .images-box {
      max-width: 121px;
      border-radius: 3px;
      overflow: hidden; }
      .widget-right .hot-news .media .images-box img {
        width: 100%; }
    .widget-right .hot-news .media .media-body a {
      font-size: 14px;
      display: block;
      color: #000000;
      font-weight: 600;
      transition: .3s; }
      .widget-right .hot-news .media .media-body a:hover {
        color: #970013; }
.widget-right .news-project {
  margin-top: 30px; }
  .widget-right .news-project .owl-carousel {
    margin-top: 15px; }
    .widget-right .news-project .owl-carousel .item {
      margin-bottom: unset; }
    .widget-right .news-project .owl-carousel.owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: unset; }
    .widget-right .news-project .owl-carousel.owl-theme .owl-dots .owl-dot {
      outline: none; }
      .widget-right .news-project .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
        background-color: #212E5D; }
      .widget-right .news-project .owl-carousel.owl-theme .owl-dots .owl-dot span {
        margin: 2px 2px;
        background: #87BDDF; }
        .widget-right .news-project .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
          background-color: #212E5D; }
  .widget-right .news-project .card {
    border: none;
    border-radius: none; }
    .widget-right .news-project .card .images-box {
      overflow: hidden;
      border-radius: 5px; }
    .widget-right .news-project .card .card-body {
      padding: 15px 1px 0px 1px; }
      .widget-right .news-project .card .card-body .card-title {
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        text-align: center;
        display: block; }
.widget-right .hot-videos {
  margin-top: 25px; }
  .widget-right .hot-videos .card {
    border: none;
    background: transparent;
    margin-top: 15px; }
    .widget-right .hot-videos .card .card-img-top {
      border-radius: 5px; }
    .widget-right .hot-videos .card .video-img {
      position: relative; }
      .widget-right .hot-videos .card .video-img .link-vd-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 50%; }
        .widget-right .hot-videos .card .video-img .link-vd-box .link-vd-btn {
          color: #FFFFFF;
          font-size: 35px;
          display: block;
          background: #202C5A;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%; }
  .widget-right .hot-videos .card-body {
    padding: 20px 0px 0px 0px; }
    .widget-right .hot-videos .card-body .card-title {
      font-size: 16px;
      font-weight: 700;
      text-align: center; }
      .widget-right .hot-videos .card-body .card-title a {
        color: #000000;
        transition: .3s ease-out; }
        .widget-right .hot-videos .card-body .card-title a:hover {
          color: #970013; }

.pages {
  margin-top: 30px; }
  .pages .pagination {
    flex-wrap: wrap; }
    .pages .pagination .page-link {
      font-size: 14px;
      color: #666666; }
      .pages .pagination .page-link:hover {
        background-color: #D6102E;
        color: #fff; }
      .pages .pagination .page-link.active {
        background-color: #D6102E;
        color: #fff; }

#home-page .banner {
  position: relative;
  max-width: 100%;
  height: 550px;
  background-image: url("../images/bn1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }
  @media only screen and (max-width: 768px) {
    #home-page .banner {
      background-size: cover; } }
  #home-page .banner .box-text-banner {
    color: #fff;
    position: absolute;
    top: 90px;
    right: 100px;
    background: #202c5abf;
    padding: 36px 64px 30px 165px; }
    @media only screen and (max-width: 768px) {
      #home-page .banner .box-text-banner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        width: 95%; } }
    #home-page .banner .box-text-banner .container-banner {
      width: 420px; }
      @media only screen and (max-width: 768px) {
        #home-page .banner .box-text-banner .container-banner {
          width: 100%; } }
    #home-page .banner .box-text-banner .title {
      text-align: center;
      padding-bottom: 21px;
      border-bottom: 1px solid #85C3F2;
      text-align: center; }
      #home-page .banner .box-text-banner .title h4 {
        font-size: 40px;
        font-family: 'Bebas';
        text-transform: uppercase; }
      #home-page .banner .box-text-banner .title h5 {
        font-size: 22px;
        padding-top: 10px; }
    #home-page .banner .box-text-banner .big-text {
      display: flex;
      justify-content: space-around; }
      #home-page .banner .box-text-banner .big-text .items h4 {
        font-family: 'Avo Bold'; }
      #home-page .banner .box-text-banner .big-text .items span {
        display: block;
        text-align: center;
        font-size: 30px; }
      #home-page .banner .box-text-banner .big-text .items:first-child h4 {
        display: flex; }
        #home-page .banner .box-text-banner .big-text .items:first-child h4 b:first-child {
          font-size: 48px; }
        #home-page .banner .box-text-banner .big-text .items:first-child h4 b:last-child {
          font-size: 30px;
          align-self: center; }
      #home-page .banner .box-text-banner .big-text .items:last-child h4 {
        font-size: 48px; }
    #home-page .banner .box-text-banner .desc {
      padding-left: 30px;
      padding-top: 20px; }
      #home-page .banner .box-text-banner .desc p {
        font-size: 16px; }
#home-page .settlement-advice {
  margin-top: 80px; }
  #home-page .settlement-advice .main-title {
    text-align: center; }
    #home-page .settlement-advice .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #home-page .settlement-advice .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
  #home-page .settlement-advice .settlement-advice-content {
    padding-top: 30px; }
    #home-page .settlement-advice .settlement-advice-content .img-fluid {
      width: 100%; }
    #home-page .settlement-advice .settlement-advice-content .content-company {
      border: 1px dashed #D6102E;
      background: #FEF2F6;
      padding: 20px;
      border-radius: 5px; }
      #home-page .settlement-advice .settlement-advice-content .content-company p {
        font-size: 20px;
        font-weight: 700; }
    #home-page .settlement-advice .settlement-advice-content .icon-box {
      padding-top: 30px; }
      #home-page .settlement-advice .settlement-advice-content .icon-box .media {
        margin-bottom: 15px; }
#home-page .visa-program {
  margin-top: 72px;
  padding: 70px 0px;
  background: #FAFBFF; }
  #home-page .visa-program .main-title {
    text-align: center; }
    #home-page .visa-program .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #home-page .visa-program .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
  #home-page .visa-program .card-columns {
    margin-top: 40px; }
    @media only screen and (max-width: 2000px) {
      #home-page .visa-program .card-columns {
        column-count: 4; } }
    @media only screen and (max-width: 768px) {
      #home-page .visa-program .card-columns {
        column-count: 2; } }
    @media only screen and (max-width: 576px) {
      #home-page .visa-program .card-columns {
        column-count: 1; } }
    #home-page .visa-program .card-columns .card {
      border: none;
      background: transparent; }
      #home-page .visa-program .card-columns .card .card-img-top {
        border-radius: 5px; }
    #home-page .visa-program .card-columns .card-body {
      padding: 20px 0px 0px 0px; }
      #home-page .visa-program .card-columns .card-body .card-title {
        font-size: 20px;
        font-weight: 700;
        color: #202C5A; }
        #home-page .visa-program .card-columns .card-body .card-title:hover {
          color: #970013; }
      #home-page .visa-program .card-columns .card-body .card-text {
        font-size: 18px;
        padding-top: 10px; }
      #home-page .visa-program .card-columns .card-body .btn-see-more {
        display: inline-block;
        padding: 10px 50px;
        border: 1px solid #CACACA;
        border-radius: 40px;
        background: #E9E9E9;
        color: #202C5A;
        font-size: 16px;
        margin-top: 26px;
        transition: .3s ease-out; }
        #home-page .visa-program .card-columns .card-body .btn-see-more:hover {
          background: #EB1939;
          color: #fff; }
#home-page .client-feed-back {
  background-image: url("../images/bn2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0px; }
  #home-page .client-feed-back .main-title {
    text-align: center; }
    #home-page .client-feed-back .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #home-page .client-feed-back .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
    #home-page .client-feed-back .main-title h2 {
      color: #fff; }
    #home-page .client-feed-back .main-title .main-title-line {
      background: #D6102E; }
  #home-page .client-feed-back .owl-carousel {
    margin-top: 40px; }
    #home-page .client-feed-back .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
      background: unset; }
    #home-page .client-feed-back .owl-carousel.owl-theme .owl-dots {
      margin-top: 60px; }
    #home-page .client-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot {
      outline: none; }
      #home-page .client-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
        background-color: #D6102E;
        border: 1px solid #D6102E; }
      #home-page .client-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot span {
        margin: 5px 5px;
        background: transparent;
        border: 1px solid #C5C5C7; }
        #home-page .client-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
          background-color: #D6102E;
          border: 1px solid #D6102E; }
  #home-page .client-feed-back .feed-back-box {
    color: #fff; }
    #home-page .client-feed-back .feed-back-box .feed-back {
      position: relative; }
      #home-page .client-feed-back .feed-back-box .feed-back:before {
        content: "\f10d";
        font-family: "fontawesome";
        position: absolute;
        top: 0px;
        font-size: 35px;
        color: #676D87; }
      #home-page .client-feed-back .feed-back-box .feed-back:after {
        content: "\f10e";
        font-family: "fontawesome";
        position: absolute;
        font-size: 35px;
        color: #676D87;
        right: 66px;
        bottom: -19px; }
      #home-page .client-feed-back .feed-back-box .feed-back p {
        font-size: 17px;
        line-height: 35px;
        padding-left: 45px; }
    #home-page .client-feed-back .feed-back-box .media {
      margin-top: 36px; }
      #home-page .client-feed-back .feed-back-box .media .img img {
        max-width: 100px;
        height: 100px;
        border-radius: 50%; }
      #home-page .client-feed-back .feed-back-box .media .media-body h5 {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 6px; }
      #home-page .client-feed-back .feed-back-box .media .media-body p {
        font-size: 16px; }
#home-page .blog {
  padding: 60px 0px; }
  #home-page .blog .main-title {
    text-align: center; }
    #home-page .blog .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #home-page .blog .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
  #home-page .blog .card-columns {
    margin-top: 40px; }
    @media only screen and (max-width: 2000px) {
      #home-page .blog .card-columns {
        column-count: 3; } }
    @media only screen and (max-width: 768px) {
      #home-page .blog .card-columns {
        column-count: 3; } }
    @media only screen and (max-width: 576px) {
      #home-page .blog .card-columns {
        column-count: 1; } }
    #home-page .blog .card-columns .card {
      border: none;
      background: transparent; }
      #home-page .blog .card-columns .card .card-img-top {
        border-radius: 5px; }
    #home-page .blog .card-columns .card-body {
      padding: 20px 0px 0px 0px; }
      #home-page .blog .card-columns .card-body .card-title {
        font-size: 20px;
        font-weight: 700;
        color: #202C5A; }
        #home-page .blog .card-columns .card-body .card-title:hover {
          color: #970013; }
      #home-page .blog .card-columns .card-body .card-text {
        font-size: 18px;
        padding-top: 10px; }
      #home-page .blog .card-columns .card-body .btn-see-more {
        display: inline-block;
        padding: 10px 50px;
        border: 1px solid #CACACA;
        border-radius: 40px;
        background: #E9E9E9;
        color: #202C5A;
        font-size: 16px;
        margin-top: 26px;
        transition: .3s ease-out; }
        #home-page .blog .card-columns .card-body .btn-see-more:hover {
          background: #EB1939;
          color: #fff; }
#home-page .video-advice {
  background-color: #FAFBFF;
  padding: 60px 0px; }
  #home-page .video-advice .main-title {
    text-align: center; }
    #home-page .video-advice .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #home-page .video-advice .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
  #home-page .video-advice .owl-carousel {
    margin-top: 40px; }
    #home-page .video-advice .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
      background: unset; }
    #home-page .video-advice .owl-carousel.owl-theme .owl-dots {
      margin-top: 40px; }
    #home-page .video-advice .owl-carousel.owl-theme .owl-dots .owl-dot {
      outline: none; }
      #home-page .video-advice .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
        background-color: #202C5A;
        border: 1px solid #202C5A; }
      #home-page .video-advice .owl-carousel.owl-theme .owl-dots .owl-dot span {
        margin: 5px 5px;
        background: transparent;
        border: 1px solid #C5C5C7; }
        #home-page .video-advice .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
          background-color: #202C5A;
          border: 1px solid #202C5A; }
  #home-page .video-advice .card {
    border: none;
    background: transparent; }
    #home-page .video-advice .card .card-img-top {
      border-radius: 5px; }
    #home-page .video-advice .card .video-img {
      position: relative; }
      #home-page .video-advice .card .video-img .link-vd-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 50%; }
        #home-page .video-advice .card .video-img .link-vd-box .link-vd-btn {
          color: #FFFFFF;
          font-size: 35px;
          display: block;
          background: #202C5A;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%; }
  #home-page .video-advice .card-body {
    padding: 20px 0px 0px 0px; }
    #home-page .video-advice .card-body .card-title {
      font-size: 20px;
      font-weight: 700;
      text-align: center; }
      #home-page .video-advice .card-body .card-title a {
        color: #000000;
        transition: .3s ease-out; }
        #home-page .video-advice .card-body .card-title a:hover {
          color: #970013; }
#home-page .partner {
  padding-top: 48px; }
  @media only screen and (max-width: 576px) {
    #home-page .partner .col-12:last-child {
      margin-top: 25px; } }
  #home-page .partner .main-title {
    text-align: center;
    text-align: left; }
    #home-page .partner .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #home-page .partner .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
    #home-page .partner .main-title .main-title-line {
      margin: 17px 0px 0px 0px; }
  #home-page .partner .content-logo {
    padding-top: 20px; }

#category-one .banner .images-banner {
  width: 100%;
  overflow: hidden; }
  #category-one .banner .images-banner img {
    width: 100%; }
#category-one .breadcumb-main-page {
  background: #DFF6FE;
  border-bottom: 1px solid #BEDBED; }
  #category-one .breadcumb-main-page .breadcrumb {
    background: none;
    padding: 15px 0px;
    margin: unset;
    border-radius: unset; }
    #category-one .breadcumb-main-page .breadcrumb .breadcrumb-item {
      font-size: 14px;
      color: #888c90; }
      #category-one .breadcumb-main-page .breadcrumb .breadcrumb-item.active {
        color: #D6102E; }
      #category-one .breadcumb-main-page .breadcrumb .breadcrumb-item:before {
        content: "\f105";
        font-family: "fontawesome"; }
      #category-one .breadcumb-main-page .breadcrumb .breadcrumb-item:first-child:before {
        display: none; }
#category-one .main-cate-one {
  padding-top: 50px; }
  #category-one .main-cate-one .main-content .main-title {
    text-align: center;
    text-align: left; }
    #category-one .main-cate-one .main-content .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #category-one .main-cate-one .main-content .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
    #category-one .main-cate-one .main-content .main-title h2 {
      color: #D6102E; }
    #category-one .main-cate-one .main-content .main-title .main-title-line {
      margin: 17px 0px 0px 0px; }
  #category-one .main-cate-one .main-content .cate-one-list-blog .media {
    border-bottom: 1px solid #BBDAE5;
    padding: 25px 0px; }
    #category-one .main-cate-one .main-content .cate-one-list-blog .media:last-child {
      border-bottom: unset; }
    @media only screen and (max-width: 576px) {
      #category-one .main-cate-one .main-content .cate-one-list-blog .media {
        flex-direction: column; } }
    #category-one .main-cate-one .main-content .cate-one-list-blog .media .media-body {
      max-width: 100%; }
    #category-one .main-cate-one .main-content .cate-one-list-blog .media .img-box {
      display: block;
      max-width: 281px;
      height: auto; }
      #category-one .main-cate-one .main-content .cate-one-list-blog .media .img-box img {
        width: 100%; }
      @media only screen and (max-width: 576px) {
        #category-one .main-cate-one .main-content .cate-one-list-blog .media .img-box {
          min-width: 100%;
          margin-bottom: 10px; } }
    #category-one .main-cate-one .main-content .cate-one-list-blog .media .title {
      font-size: 20px;
      font-weight: 600;
      color: #202C5A;
      transition: .3s ease-in;
      display: block;
      padding-bottom: 20px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      #category-one .main-cate-one .main-content .cate-one-list-blog .media .title:hover {
        color: #970013; }
    #category-one .main-cate-one .main-content .cate-one-list-blog .media .desc {
      font-size: 17px;
      color: #333333;
      line-height: 24px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 123px; }
#category-one .partner {
  padding-top: 48px; }
  @media only screen and (max-width: 576px) {
    #category-one .partner .col-12:last-child {
      margin-top: 25px; } }
  #category-one .partner .main-title {
    text-align: center;
    text-align: left; }
    #category-one .partner .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #category-one .partner .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
    #category-one .partner .main-title .main-title-line {
      margin: 17px 0px 0px 0px; }
  #category-one .partner .content-logo {
    padding-top: 20px; }

#category-two .banner .images-banner {
  width: 100%;
  overflow: hidden; }
  #category-two .banner .images-banner img {
    width: 100%; }
#category-two .breadcumb-main-page {
  background: #DFF6FE;
  border-bottom: 1px solid #BEDBED; }
  #category-two .breadcumb-main-page .breadcrumb {
    background: none;
    padding: 15px 0px;
    margin: unset;
    border-radius: unset; }
    #category-two .breadcumb-main-page .breadcrumb .breadcrumb-item {
      font-size: 14px;
      color: #888c90; }
      #category-two .breadcumb-main-page .breadcrumb .breadcrumb-item.active {
        color: #D6102E; }
      #category-two .breadcumb-main-page .breadcrumb .breadcrumb-item:before {
        content: "\f105";
        font-family: "fontawesome"; }
      #category-two .breadcumb-main-page .breadcrumb .breadcrumb-item:first-child:before {
        display: none; }
#category-two .main-cate-two {
  padding-top: 30px; }
  #category-two .main-cate-two .main-title {
    text-align: center; }
    #category-two .main-cate-two .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #category-two .main-cate-two .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
  #category-two .main-cate-two .card-columns {
    margin-top: 40px; }
    @media only screen and (max-width: 2000px) {
      #category-two .main-cate-two .card-columns {
        column-count: 4; } }
    @media only screen and (max-width: 768px) {
      #category-two .main-cate-two .card-columns {
        column-count: 3; } }
    @media only screen and (max-width: 576px) {
      #category-two .main-cate-two .card-columns {
        column-count: 1; } }
    #category-two .main-cate-two .card-columns .card {
      border: none;
      background: transparent;
      margin-bottom: 30px; }
      #category-two .main-cate-two .card-columns .card .card-img-top {
        border-radius: 5px; }
      #category-two .main-cate-two .card-columns .card .card-body {
        padding: 20px 0px 0px 0px; }
        #category-two .main-cate-two .card-columns .card .card-body .card-title {
          font-size: 18px;
          font-weight: 700;
          color: #202c5a;
          transition: .3s; }
          #category-two .main-cate-two .card-columns .card .card-body .card-title:hover {
            color: #970013; }
#category-two .partner {
  padding-top: 48px; }
  @media only screen and (max-width: 576px) {
    #category-two .partner .col-12:last-child {
      margin-top: 25px; } }
  #category-two .partner .main-title {
    text-align: center;
    text-align: left; }
    #category-two .partner .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #category-two .partner .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
    #category-two .partner .main-title .main-title-line {
      margin: 17px 0px 0px 0px; }
  #category-two .partner .content-logo {
    padding-top: 20px; }

#blog-detail .banner .images-banner {
  width: 100%;
  overflow: hidden; }
  #blog-detail .banner .images-banner img {
    width: 100%; }
#blog-detail .breadcumb-main-page {
  background: #DFF6FE;
  border-bottom: 1px solid #BEDBED; }
  #blog-detail .breadcumb-main-page .breadcrumb {
    background: none;
    padding: 15px 0px;
    margin: unset;
    border-radius: unset; }
    #blog-detail .breadcumb-main-page .breadcrumb .breadcrumb-item {
      font-size: 14px;
      color: #888c90; }
      #blog-detail .breadcumb-main-page .breadcrumb .breadcrumb-item.active {
        color: #D6102E; }
      #blog-detail .breadcumb-main-page .breadcrumb .breadcrumb-item:before {
        content: "\f105";
        font-family: "fontawesome"; }
      #blog-detail .breadcumb-main-page .breadcrumb .breadcrumb-item:first-child:before {
        display: none; }
#blog-detail .main-detail {
  padding-top: 40px; }
  #blog-detail .main-detail .content-blog .title {
    font-size: 30px;
    color: #202c5a; }
    #blog-detail .main-detail .content-blog .title h2 {
      font-weight: 700;
      line-height: 40px; }
  #blog-detail .main-detail .content-blog .content-user-write {
    margin-top: 30px; }
    #blog-detail .main-detail .content-blog .content-user-write .suggestions {
      padding-top: 20px; }
      #blog-detail .main-detail .content-blog .content-user-write .suggestions li a {
        font-size: 16px;
        color: #666666;
        line-height: 30px; }
        #blog-detail .main-detail .content-blog .content-user-write .suggestions li a:hover {
          color: #d6102e; }
        #blog-detail .main-detail .content-blog .content-user-write .suggestions li a:before {
          content: "\f105";
          font-family: "fontawesome";
          padding-right: 10px;
          transition: .2s; }
  #blog-detail .main-detail .feed-back-cl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #E1E3E6;
    border-radius: 5px;
    background: #F6F7F9;
    padding-left: 10px;
    margin-top: 15px; }
    #blog-detail .main-detail .feed-back-cl .question {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      #blog-detail .main-detail .feed-back-cl .question label {
        font-weight: 700;
        color: #000;
        margin-right: 7px; }
      #blog-detail .main-detail .feed-back-cl .question p {
        font-size: 16px;
        display: block;
        border: 1px solid #E1E3E6;
        border-radius: 5px;
        padding: 10px; }
        #blog-detail .main-detail .feed-back-cl .question p span:before {
          content: "\f00c";
          font-family: "fontawesome";
          color: #008000;
          padding-right: 10px; }
        #blog-detail .main-detail .feed-back-cl .question p:last-child {
          margin-left: 10px; }
          #blog-detail .main-detail .feed-back-cl .question p:last-child span:before {
            content: "\f00d";
            font-family: "fontawesome";
            color: #FF0000;
            padding-right: 10px; }
    #blog-detail .main-detail .feed-back-cl .like-fb-button {
      display: flex;
      align-items: center; }
      #blog-detail .main-detail .feed-back-cl .like-fb-button .count p {
        color: #999999;
        margin-right: 7px; }
        #blog-detail .main-detail .feed-back-cl .like-fb-button .count p:before {
          content: "\f06e";
          font-family: "fontawesome";
          padding-right: 10px; }
      #blog-detail .main-detail .feed-back-cl .like-fb-button .like {
        height: 40px;
        margin-top: 20px; }
  #blog-detail .main-detail .tags-cl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #EFFAFE;
    border: 1px dashed #8F95AC;
    padding: 15px;
    margin-top: 35px; }
    #blog-detail .main-detail .tags-cl a {
      color: #202C5A; }
  #blog-detail .main-detail .related-blog {
    border-top: 1px solid #E8E8E8;
    padding-top: 30px;
    margin-top: 25px; }
    #blog-detail .main-detail .related-blog h3 {
      font-size: 26px;
      font-weight: 700;
      color: #202c5a; }
    #blog-detail .main-detail .related-blog ul {
      padding-top: 16px; }
      #blog-detail .main-detail .related-blog ul li a {
        font-size: 16px;
        color: #333333;
        line-height: 30px;
        transition: .3s; }
        #blog-detail .main-detail .related-blog ul li a:before {
          content: "\f105";
          font-family: "fontawesome";
          padding-right: 15px; }
        #blog-detail .main-detail .related-blog ul li a:hover {
          color: #d6102e; }
        #blog-detail .main-detail .related-blog ul li a:hover:before {
          color: #3186C5; }
#blog-detail .partner {
  padding-top: 48px; }
  @media only screen and (max-width: 576px) {
    #blog-detail .partner .col-12:last-child {
      margin-top: 25px; } }
  #blog-detail .partner .main-title {
    text-align: center;
    text-align: left; }
    #blog-detail .partner .main-title h2 {
      font-size: 30px;
      font-family: 'Segoeui Bold';
      color: #202C5A;
      text-transform: uppercase; }
    #blog-detail .partner .main-title .main-title-line {
      width: 70px;
      height: 4px;
      background: #202C5A;
      margin: 17px auto 0px auto; }
    #blog-detail .partner .main-title .main-title-line {
      margin: 17px 0px 0px 0px; }
  #blog-detail .partner .content-logo {
    padding-top: 20px; }

/*# sourceMappingURL=style.css.map */
