

#footer {
    background-image: url("../images/ftbg.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    @media only screen and (max-width: 768px) {
        &{
            background-size: cover;
            background-position: unset;
        }
    }
    .container-footer{
        max-width: 1370px;
        padding-top: 210px;
        &.ft-2{
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .info-footer{
        @media only screen and (max-width: 768px){
            &{
                padding-top: 25px;
            }
        }
        h4{
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 30px;
        }

        .desc{
            ul{
                li{
                    font-size: 14px;
                    color: #73beee;
                    line-height: 28px;
                    position: relative;
                    &.plus:before{
                        content: "+";
                        font-family: "fontawesome";
                        position: absolute;
                        top: 1.5px;
                        z-index: 9;                       
                    }

                    &.plus{
                        span{
                            padding-left: 15px;
                            display: block;
                        }
                    }
                    span{
                        &.map:before{
                            content: "\f041";
                            font-family: "fontawesome";
                            padding-right: 6px;
                        }

                        &.phone:before{
                            content:"\f095";
                            font-family: "fontawesome";
                            padding-right: 6px;
                        }

                        &.mail:before{
                            content:"\f0e0";
                            font-family: "fontawesome";
                            padding-right: 6px;
                        }
                        
                        
                    }
                }
            }

            .link-gg-map{
                padding-top: 70px;
                @media only screen and (max-width: 768px){
                    &{
                        padding-top: 15px;
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                }
                p{
                    font-size: 16px;
                    color: #fff;
                }
                img{
                    object-fit: contain;

                    &:first-child{
                        width: 42px;
                        margin-right: 10px;
                    }

                    &:last-child{
                        width: 97px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .end-ft{
        border-top: 1px solid #3D4C88;
        margin-top: 48px;
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li{
                &:after{
                    content:"|";
                    padding: 0px 10px;
                    color: #73beee;
                }

                &:last-child:after{
                    content:"";
                }
                a{
                    color: #73beee;
                    font-size: 12px;
                }
            }
        }

        .sign-up-pages{
            @media only screen and (max-width: 768px){
                &{
                    margin-top: 25px;
                }
            }
            form{
                display: flex;
                align-items: center;
                label{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #8FD3FF;
                    font-weight: 600;
                }

                .sign-up-box{
                    display: flex;
                    margin-left: 20px; 
                    input{
                        border: none;
                        width: 121px;
                        height: 40px;
                        padding-left: 7px;
                        border-radius: 3px 0px 0px 3px;
                        outline: none;
                        @media only screen and (max-width: 768px){
                            &{
                                width: 100%;
                            }
                        }
                    }

                    button{
                        width: 45px;
                        background: #F11C3D;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 14px;
                        border-radius: 0px 3px 3px 0px;
                    }
                }
            }
        }
    }
    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 45px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #D6102E url('../images_icon/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
        @media only screen and (max-width: 576px){
            &{
                display: none;
            }
        }
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
