#header{
    .container-header{
        max-width: 1370px;
    }
    .header-main{
        padding: 12px 0px;
        .logo{
            max-width: 330px;
            height: auto;
        }

        .header-main-nav{
            .nav-item{
                margin-right: 23px;
                &:last-child{
                    margin-right: 0px;
                }
            }

            .nav-link{
                padding: 0;
                display: flex;
                align-items: center;
                &.booking-advisory{
                    font-size: 20px;
                    font-family: 'Segoeui Bold';
                    background-color: #D6102E;
                    color: #fff;
                    border-radius: 30px;
                    padding: 5px 17px;
    
                    span{
                        position: relative;
                        padding-left: 25px;
                        margin-bottom: 3px;
                        &:before{
                            content: url(../images_icon/calender.png);
                            position: absolute;
                            top: 55%;
                            transform: translateY(-50%);
                            left: 0;
                        }
                    }
                }

                &.contact-advisory{
                    font-size: 18px;
                    position: relative;
                    padding-left: 35px;
                    &:before{
                        content: url(../images_icon/phone.png);
                        position: absolute;
                        top: 55%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }

                &.contact-link{
                    font-size: 18px;
                    transition: .2s;
                    &:hover{
                        color: #D6102E;
                    }
                }

                &.search-header{
                    background: none;
                    transition: .3s;

                    &:hover{
                        color: #D6102E;
                    }
                }
            }            
        }
    }

    .header-bottom{
        border-bottom: 2px solid #D6102E;
        &.fixed-stuck{
            position: fixed;
            top: 0px;
            width: 100%;
            background: #fff;
            animation: fade_stuck 1s forwards;
            z-index: 999;
        }

        @keyframes fade_stuck{
            0%{
                opacity: 0;
                visibility: hidden;
            }

            100%{
                opacity: 1;
                visibility: visible;
            }
        }
        .nav-item{
            line-height: 30px;
            transition: .3s ease-out;
            position: relative;

            &.has-drop-full{
                position: static;
            }
            
            &:hover .drop-down{
                opacity: 1;
                visibility: visible;
            }
            .drop-down{
                position: absolute;
                background-color: #fff;
                width: 100%;
                padding: 15px 20px 15px 20px;
                border-top:2px solid #D6102E;
                -webkit-box-shadow: 0px 2px 10px 0px rgba(233,233,233,0.53); 
                box-shadow: 0px 2px 10px 0px rgba(233,233,233,0.53);
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                z-index: 99;

                &.full-drop-down{
                    width: 100vw;
                    left: 0;
                    padding: 30px 30px;
                    display: flex;
                    background-image: url(../images/bg_drop.png);
                    background-repeat: no-repeat;
                    background-size: 356px 290px;
                    background-position: right 40px bottom;

                    .item-full-drop{
                        margin-right: 70px;

                        &:last-child{
                            margin-right: unset;
                        }
                        .title-full-drop{
                            font-size: 22px;
                            font-weight: 700;
                        }   
                    }

                    .sub-drop-full{
                        padding-top: 16px;
                        li{
                            a{
                                font-size: 15px;
                                color: #333333;
                                transition: .3s;
                                &.see-more-list{
                                    color: #d6102e;
                                    &:before{
                                        content: "";
                                        padding-right: unset;
                                    }
                                }
                                &:hover{
                                    color: #d6102e;
                                }
                                &:before{
                                    content:"\f105";
                                    font-family: "fontawesome";
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                    
                }
                li{
                    a{
                        color: #202C5A;
                        transition: .3s ease-out;
                        &:hover{
                            color: #D6102E;
                        }
                    }
                }
            }
            
        }

        .nav-link{
            font-size: 15px;
            color: #202c5a;
            text-transform: uppercase;
            font-weight: 600;

            
            &.has-drop-full{
                position: relative;
            }
            

            &.active{
                color: #D6102E;
            }
            &:hover{
                background: #D6102E;
            }

            &:hover{
                color: #fff;
            }

            &.home-page-link{
                &:before{
                    content:"\f015";
                    font-family: "fontawesome";
                    font-size: 20px;
                }
            }

            &.has-drop-child{
                &:after{
                    content:"\f107";
                    font-family: "fontawesome";
                    margin-left: 7px;
                }
            }
        }

        .nav-mobile{
            .logo{
                max-width: 230px;
                margin: auto;
            }
    
            button{
                border:none;
                outline: none;
                background-color: transparent;
                font-size: 25px;
                &.search-header{
                    background: #fff;
                    transition: .3s;
                    font-size: 25px;
    
                    &:hover{
                        color: #D6102E;
                    }
                }
            }
        }       
    }
}


.over-lay-mb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    z-index: 9995;
    display: none;

    &.overlay-open{
        display: block;
    }
}

.over-lay-mb-bars{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    z-index: 9995;
    display: none;

    &.overlay-open{
        display: block;
    }
}

.moblie-menu-box{
    position: fixed;
    top:0px;
    left: -100vw;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-out;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(233,233,233,0.53); 
    box-shadow: 0px 2px 10px 0px rgba(233,233,233,0.53);
    z-index: 9999;

    &.open_mneu{
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .nav-mb-menu{
        padding: 110px 20px;
        li{
            width: 100%;
            border-bottom: 1px solid #2125290e;
            padding-bottom: 5px;
            margin-bottom: 10px;
            position: relative;
            a{
                font-size: 20px;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 30px;
            }
            .btn-drop-nav-menu{
                border: none;
                outline: none;
                background-color: transparent;
                transition: .3s ease-out;
                position: absolute;
                top: 3px;
                right: 0;

                &.active{
                    transform: rotateZ(90deg);
                }
            }

            .drop-down-mb{
                opacity: 0;
                visibility: hidden;
                height: 0;
                padding: 0;
                transition: .3s ease-out;
                overflow: hidden;

                &.minus-font-c1{
                    li{
                        a{
                            font-size: 18px;
                        }
                    }
                }

                &.minus-font-c2{
                    li{
                        a{
                            font-size: 17px;
                        }
                    }
                }
                li{
                    border-bottom: unset;
                }

                &.show-drop-down{
                    opacity: 1;
                    visibility: visible;
                    height: unset;
                    padding: 10px 20px 10px 20px;
                    overflow: visible;
                }

                @keyframes animtion_height {
                    0%{
                        
                    }

                    100%{
                       
                    }
                }
            }
        }
    }

    .close-nav-box{
        position: absolute;
        top: 10px;
        right: 10px;
        button{
            font-size: 22px;
            background: none;
            transition: .3s ease-out;
        }
    }
}

.box-search_header{
    position: fixed;
    top: 30%;
    left: 50%;
    transition: .3s ease-in-out;
    animation: show_box_hd .5s forwards;
    text-align: center;
    z-index: 9999;
    display: none;

    &.active_show{
        display: block;
    }
    @keyframes show_box_hd {
        0%{
            opacity: 0;
            visibility: hidden;
            transform:translateX(-50%) scale(0.7);
        }

        100%{
            opacity: 1;
            visibility: visible;
            transform:translateX(-50%) scale(1);
        }
    }

    label{
        font-size: 35px;
        font-weight: 700;
        text-transform: capitalize;
        padding-bottom: 20px;
        color: #fff;
    }

    form{
        display: flex;
        input{
            border: none;
            outline: none;
            width: 400px;
            height: 40px;
            padding-left: 10px;

            @media only screen and (max-width: 768px){
                &{
                    width: 100%;
                }
            }
        }

        button{
            width: 40px;
            background: #D6102E;
            color: #fff;
        }
    }
}
