@import "reset";
@import "header";
@import "footer";

.container{
    max-width: 1170px;
}

@mixin main-title{
    text-align: center;
    h2{
        font-size: 30px;
        font-family: 'Segoeui Bold';
        color: #202C5A;
        text-transform: uppercase;
    }

    .main-title-line{
        width: 70px;
        height: 4px;
        background: #202C5A;
        margin: 17px auto 0px auto;
    }
}

@media only screen and (max-width: 768px){
    #wrapper{
        overflow-x: hidden;
    }
}

@mixin breadcumb-fix{
    background: #DFF6FE;
    border-bottom: 1px solid #BEDBED;
    .breadcrumb{
        background: none;
        padding: 15px 0px;
        margin: unset;
        border-radius: unset;
        .breadcrumb-item{
            font-size: 14px;
            color: #888c90;

            &.active{
                color: #D6102E;
            }

            &:before{
                content:"\f105";
                font-family: "fontawesome";
            }
            &:first-child:before{
                display: none;
            }
        }
    }
    
}


@mixin list-cate-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin excerpt-list-cate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 123px;
}

.widget-right{
    @media only screen and (max-width: 768px){
        &{
            margin-top: 20px;
        }
    }
    h3{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .search-widget{
        form{
            display: flex;
            -webkit-box-shadow: 0px 0px 12px 1px #E0E0E0; 
            box-shadow: 0px 0px 12px 1px #E0E0E0;
            input{
                width: 100%;
                height: 40px;
                border-top: 1px solid #2A3A78;
                border-right: none;
                border-bottom: 1px solid #2A3A78;
                border-left:1px solid #2A3A78; 
                outline: none;
                padding-left: 10px;
            }

            .btn-search-widget{
                width: 45px;
                color: #fff;
                background: #212E5D;
                border-radius: 0px 4px 4px 0px;
            }
        }
    }

    .sign-up-widget{
        max-width: 100%;
        height: 175px;
        background-image: url(../images/widget-img1.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px 0px 12px 1px #E0E0E0; 
        box-shadow: 0px 0px 12px 1px #E0E0E0;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 20px;
       
        .overlay{
            position: absolute;
            z-index: 2;
            top:0;
            left: 0;;
            width: 100%;
            height: 100%;
            background-color: rgba(63, 63, 63, 0.534);
        }
        .sign-up{
            z-index: 3;
            position: relative;
            a{
                background: linear-gradient(0deg, rgba(253,253,253,1) 48%, rgba(241,241,241,1) 100%);
                padding: 10px 60px;
                border-radius: 40px;
                color: #202C5A;
                font-size: 16px;
                font-weight: 700;
                display: table;
                vertical-align: middle;
                span{
                    &:before{
                        content:"\f040";
                        font-family: "fontawesome";
                        color: #666666;
                        padding-right: 6px;
                    }
                }
            }
        }

        .down-load{
            z-index: 3;
            position: relative;
            margin-top: 10px;
            i{
                color: #666666;
                padding-right: 6px;
            }
            a{
                background: linear-gradient(0deg, rgba(253,253,253,1) 48%, rgba(241,241,241,1) 100%);
                padding: 10px 47px;
                border-radius: 40px;
                color: #202C5A;
                font-size: 16px;
                font-weight: 700;
                display: table;
                vertical-align: middle;
            }

            h5{
                font-size: 16px;
                font-weight: 700;
            }

            p{
                font-size: 13px;
                color: #666666;
                font-weight: 400;
            }
        }
    }

    .hot-news{
        margin-top: 30px;
        .media{
            border-bottom: 1px solid #E6E6E6;
            padding-top: 20px;
            padding-bottom: 20px;
            &:last-child{
                border-bottom: unset;
            }
            .images-box{
                max-width: 121px;
                border-radius: 3px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }

            .media-body{
                a{
                    font-size: 14px;
                    display: block;
                    color: #000000;
                    font-weight: 600;
                    transition: .3s;
                    &:hover{
                        color: #970013;
                    }
                }
            }
        }
    }

    .news-project{
        margin-top: 30px;
        .owl-carousel{
            margin-top: 15px;
            .item{
                margin-bottom: unset;
            }
            &.owl-theme .owl-nav.disabled+.owl-dots{
                margin-top: unset;
            }
      
            &.owl-theme .owl-dots .owl-dot{
                outline: none;
                &.active span{
                    background-color: #212E5D;
                }
                span{
                    margin: 2px 2px;
                    background: #87BDDF;
        
                    &:hover{
                        background-color: #212E5D;
                    }
                }
            }
        }

        .card{
            border: none;
            border-radius: none;

            .images-box{
                overflow: hidden;
                border-radius: 5px;
            }

            .card-body{
                padding: 15px 1px 0px 1px;
                .card-title{
                    font-size: 16px;
                    font-weight: 700;
                    color: #333333;
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    .hot-videos{
        margin-top: 25px;
        .card{
            border: none;
            background: transparent;
            margin-top: 15px;

            .card-img-top{
                border-radius: 5px;
            }

            .video-img{
                position: relative;

                .link-vd-box{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid #fff;
                    padding: 5px;
                    border-radius: 50%;
                    .link-vd-btn{
                        color: #FFFFFF;
                        font-size: 35px;
                        display: block;
                        background: #202C5A;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                    }
                }
                
            }
        }
        
        .card-body{
            padding: 20px 0px 0px 0px;
            .card-title{
                font-size: 16px;
                font-weight: 700;
                text-align: center;

                a{
                    color: #000000;
                    transition: .3s ease-out;

                    &:hover{
                        color: #970013;
                    }
                }               
            }
        }
    }
}

.pages{
    margin-top: 30px;
    .pagination{       
        flex-wrap: wrap;
        .page-link{
            font-size: 14px;
            color: #666666;
            &:hover{
                background-color: #D6102E;
                color: #fff;
            }
            &.active{
                background-color: #D6102E;
                color: #fff;
            }
        }       
    }
}

#home-page{
    .banner{
        position: relative;
        max-width: 100%;
        height: 550px;
        background-image: url('../images/bn1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

        @media only screen and (max-width: 768px){
            &{
                background-size: cover;
            }
        }

        .box-text-banner{
            color: #fff;
            position: absolute;
            top: 90px;
            right: 100px;
            background: #202c5abf;
            padding: 36px 64px 30px 165px;

            @media only screen and (max-width: 768px){
                &{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 15px;
                    width: 95%;
                }
            }
            
            .container-banner{
                width: 420px;
                @media only screen and (max-width: 768px){
                    &{
                        width: 100%;
                    }
                }
            }
            .title{
                text-align: center;
                padding-bottom: 21px;
                border-bottom: 1px solid #85C3F2;text-align: center;
                h4{
                    font-size: 40px;
                    font-family: 'Bebas';
                    text-transform: uppercase;
                }

                h5{
                    font-size: 22px;
                    padding-top: 10px;
                }
            }   

            .big-text{
                display: flex;
                justify-content: space-around;
                .items{
                    h4{
                        font-family: 'Avo Bold';
                    }

                    span{
                        display: block;
                        text-align: center;
                        font-size: 30px;
                    }
                    &:first-child{
                        h4{
                            display: flex;
                            b{
                                &:first-child{
                                    font-size: 48px;
                                }

                                &:last-child{
                                    font-size: 30px;
                                    align-self: center;
                                }
                            }
                        }
                    }

                    &:last-child{
                        h4{
                            font-size: 48px;
                        }
                    }
                }
            }

            .desc{
                padding-left: 30px;
                padding-top: 20px;
                p{
                    font-size: 16px;
                }
            }
        }
    }

    .settlement-advice{
        margin-top: 80px;
        .main-title{
            @include main-title();
        }

        .settlement-advice-content{
            padding-top: 30px;
            .img-fluid{
                width: 100%;
            }
            .content-company{
                border: 1px dashed #D6102E;
                background: #FEF2F6;
                padding: 20px;
                border-radius: 5px;

                p{
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            .icon-box{
                padding-top: 30px;
                .media{
                    margin-bottom: 15px;
                }
            }
        }
    }

    .visa-program{
        margin-top: 72px;
        padding: 70px 0px;
        background: #FAFBFF;
        .main-title{
            @include main-title();
        }

        .card-columns{
            margin-top: 40px;
            @media only screen and (max-width: 2000px){
                &{
                    column-count: 4;
                }
            }

            @media only screen and (max-width: 768px){
                &{
                    column-count: 2;
                }
            }

            @media only screen and (max-width: 576px){
                &{
                    column-count: 1;
                }
            }
            .card{
                border: none;
                background: transparent;

                .card-img-top{
                    border-radius: 5px;
                }
            }
            
            .card-body{
                padding: 20px 0px 0px 0px;
                .card-title{
                    font-size: 20px;
                    font-weight: 700;
                    color: #202C5A;

                    &:hover{
                        color: #970013;
                    }
                }

                .card-text{
                    font-size: 18px;
                    padding-top: 10px;
                }

                .btn-see-more{
                    display: inline-block;
                    padding: 10px 50px;
                    border: 1px solid #CACACA;
                    border-radius: 40px;
                    background: #E9E9E9;
                    color: #202C5A;
                    font-size: 16px;
                    margin-top: 26px;
                    transition: .3s ease-out;

                    &:hover{
                        background: #EB1939;
                        color: #fff;
                    }
                }
            }
        }
    }

    .client-feed-back{
        background-image: url("../images/bn2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 70px 0px;
        .main-title{
            @include main-title();
            h2{
                color: #fff;
            }
            .main-title-line{
                background: #D6102E;
            }
        }

        .owl-carousel{
            margin-top: 40px;
            &.owl-theme .owl-nav [class*=owl-]:hover{
                background: unset;
            }

            &.owl-theme .owl-dots{
                margin-top: 60px;
            }
        
            &.owl-theme .owl-dots .owl-dot{
                outline: none;
                &.active span{
                    background-color: #D6102E;
                    border: 1px solid #D6102E;
                }
                span{
                    margin: 5px 5px;
                    background: transparent;
                    border: 1px solid #C5C5C7;
        
                    &:hover{
                        background-color: #D6102E;
                        border: 1px solid #D6102E;
                    }
                }
            }
        }


        .feed-back-box{
            color: #fff;
            .feed-back{
                position: relative;
                &:before{
                    content: "\f10d";
                    font-family: "fontawesome";
                    position: absolute;
                    top: 0px;
                    font-size: 35px;
                    color: #676D87;
                }

                &:after{
                    content: "\f10e";
                    font-family: "fontawesome";
                    position: absolute;
                    font-size: 35px;
                    color: #676D87;
                    right: 66px;
                    bottom: -19px;
                }
                
                p{
                    font-size: 17px;  
                    line-height: 35px;                   
                    padding-left: 45px;
                }
            }
            
            .media{
                margin-top: 36px;
                .img{
                    img{
                        max-width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                }

                .media-body{
                    h5{
                        font-size: 20px;
                        font-weight: 700;
                        padding-bottom: 6px;
                    }

                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .blog{
        padding: 60px 0px;
        .main-title{
            @include main-title();
        }

        .card-columns{
            margin-top: 40px;
            @media only screen and (max-width: 2000px){
                &{
                    column-count: 3;
                }
            }

            @media only screen and (max-width: 768px){
                &{
                    column-count: 3;
                }
            }

            @media only screen and (max-width: 576px){
                &{
                    column-count: 1;
                }
            }
            .card{
                border: none;
                background: transparent;

                .card-img-top{
                    border-radius: 5px;
                }
            }
            
            .card-body{
                padding: 20px 0px 0px 0px;
                .card-title{
                    font-size: 20px;
                    font-weight: 700;
                    color: #202C5A;

                    &:hover{
                        color: #970013;
                    }
                }

                .card-text{
                    font-size: 18px;
                    padding-top: 10px;
                }

                .btn-see-more{
                    display: inline-block;
                    padding: 10px 50px;
                    border: 1px solid #CACACA;
                    border-radius: 40px;
                    background: #E9E9E9;
                    color: #202C5A;
                    font-size: 16px;
                    margin-top: 26px;
                    transition: .3s ease-out;

                    &:hover{
                        background: #EB1939;
                        color: #fff;
                    }
                }
            }
        }
    }

    .video-advice{
        background-color: #FAFBFF;
        padding: 60px 0px;
        .main-title{
            @include main-title();
        }

        .owl-carousel{
            margin-top: 40px;
            &.owl-theme .owl-nav [class*=owl-]:hover{
                background: unset;
            }

            &.owl-theme .owl-dots{
                margin-top: 40px;
            }
        
            &.owl-theme .owl-dots .owl-dot{
                outline: none;
                &.active span{
                    background-color: #202C5A;
                    border: 1px solid #202C5A;
                }
                span{
                    margin: 5px 5px;
                    background: transparent;
                    border: 1px solid #C5C5C7;
        
                    &:hover{
                        background-color: #202C5A;
                        border: 1px solid #202C5A;
                    }
                }
            }
        }

        .card{
            border: none;
            background: transparent;

            .card-img-top{
                border-radius: 5px;
            }

            .video-img{
                position: relative;

                .link-vd-box{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid #fff;
                    padding: 5px;
                    border-radius: 50%;
                    .link-vd-btn{
                        color: #FFFFFF;
                        font-size: 35px;
                        display: block;
                        background: #202C5A;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                    }
                }
                
            }
        }
        
        .card-body{
            padding: 20px 0px 0px 0px;
            .card-title{
                font-size: 20px;
                font-weight: 700;
                text-align: center;

                a{
                    color: #000000;
                    transition: .3s ease-out;

                    &:hover{
                        color: #970013;
                    }
                }               
            }
        }
    }

    .partner{
        padding-top: 48px;
        @media only screen and (max-width: 576px){
            .col-12:last-child{
                margin-top: 25px;
            }
        }
        .main-title{
            @include main-title();
            text-align: left;
            .main-title-line{
                margin: 17px 0px 0px 0px;
            }
        }

        .content-logo{
            padding-top: 20px;
        }
    }
}

#category-one{
    .banner{
        .images-banner{
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }

    .breadcumb-main-page{
      @include breadcumb-fix();
    }

    .main-cate-one{
        padding-top: 50px;
        .main-content{
            .main-title{
                @include main-title();
                text-align: left;
                h2{
                    color: #D6102E;
                }
                .main-title-line{
                    margin: 17px 0px 0px 0px;
                }
            }

            .cate-one-list-blog{
                .media{
                    border-bottom: 1px solid #BBDAE5;
                    padding: 25px 0px;

                    &:last-child{
                        border-bottom: unset;
                    }

                    @media only screen and (max-width: 576px){
                        &{
                            flex-direction: column;
                        }
                    }

                    .media-body{
                        max-width: 100%;
                    }
                    .img-box{
                        display: block;
                        max-width: 281px;
                        height: auto;
                        img{
                            width: 100%;
                        }
                        @media only screen and (max-width: 576px){
                            &{
                                min-width: 100%;
                                margin-bottom: 10px;
                            }
                        }
                    }

                    .title{
                        font-size: 20px;
                        font-weight: 600;
                        color: #202C5A;
                        transition: .3s ease-in;
                        display: block;
                        padding-bottom: 20px;
                        @include list-cate-title();
                        &:hover{
                            color: #970013;
                        }
                    }

                    .desc{
                        font-size: 17px;
                        color: #333333;
                        line-height: 24px;
                        @include excerpt-list-cate();
                    }
                }
            }
        }

    }

    .partner{
        padding-top: 48px;
        @media only screen and (max-width: 576px){
            .col-12:last-child{
                margin-top: 25px;
            }
        }
        .main-title{
            @include main-title();
            text-align: left;
            .main-title-line{
                margin: 17px 0px 0px 0px;
            }
        }

        .content-logo{
            padding-top: 20px;
        }
    }
    
}

#category-two{
    .banner{
        .images-banner{
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }

    .breadcumb-main-page{
        @include breadcumb-fix();
    }

    .main-cate-two{
        padding-top: 30px;
        .main-title{
            @include main-title();
        }

        .card-columns{
            margin-top: 40px;
            @media only screen and (max-width: 2000px){
                &{
                    column-count: 4;
                }
            }
            

            @media only screen and (max-width: 768px){
                &{
                    column-count: 3;
                }
            }

            @media only screen and (max-width: 576px){
                &{
                    column-count: 1;
                }
            }
            .card{
                border: none;
                background: transparent;
                margin-bottom: 30px;

                .card-img-top{
                    border-radius: 5px;
                }

                .card-body{
                    padding: 20px 0px 0px 0px;
                    .card-title{
                        font-size: 18px;
                        font-weight: 700;
                        color: #202c5a;
                        transition: .3s;

                        &:hover{
                            color: #970013;
                        }
                    }
                }
            }
        }
    }

    .partner{
        padding-top: 48px;
        @media only screen and (max-width: 576px){
            .col-12:last-child{
                margin-top: 25px;
            }
        }
        .main-title{
            @include main-title();
            text-align: left;
            .main-title-line{
                margin: 17px 0px 0px 0px;
            }
        }

        .content-logo{
            padding-top: 20px;
        }
    }
}

#blog-detail{
    .banner{
        .images-banner{
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }

    .breadcumb-main-page{
        @include breadcumb-fix();
    }

    .main-detail{
        padding-top: 40px;

        .content-blog{
            .title{
                font-size: 30px;
                color: #202c5a;
                h2{
                    font-weight: 700;
                    line-height: 40px;
                }
            }

            .content-user-write{
                margin-top: 30px;

                .suggestions{
                    padding-top: 20px;
                    li{
                        a{
                            font-size: 16px;
                            color: #666666;
                            line-height: 30px;
                            &:hover{
                                color: #d6102e;
                            }
                            &:before{
                                content:"\f105";
                                font-family: "fontawesome";
                                padding-right: 10px;
                                transition: .2s;                                
                            }
                        }
                    }
                }
            }
        }

        .feed-back-cl{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid #E1E3E6;
            border-radius: 5px;
            background: #F6F7F9;
            padding-left: 10px;
            margin-top: 15px;

            .question{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                label{
                    font-weight: 700;
                    color: #000;
                    margin-right: 7px;
                }

                p{
                    font-size: 16px;
                    display: block;
                    border: 1px solid #E1E3E6;
                    border-radius: 5px;
                    padding: 10px;
                   
                    span{
                        &:before{
                            content:"\f00c";
                            font-family: "fontawesome";
                            color: #008000;
                            padding-right: 10px;
                        }
                    }
                    

                    &:last-child{
                        margin-left: 10px;
                        span{
                            &:before{
                                content:"\f00d";
                                font-family: "fontawesome";
                                color: #FF0000;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }

            .like-fb-button{
                display: flex;
                align-items: center;
                .count{
                    p{
                        color: #999999;
                        margin-right: 7px;
                        &:before{
                            content:"\f06e";
                            font-family: "fontawesome";
                            padding-right: 10px;
                        }
                    }
                }
                .like{
                    height: 40px;
                    margin-top: 20px;
                }
            }
        }

        .tags-cl{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: #EFFAFE;
            border: 1px dashed #8F95AC;
            padding: 15px;
            margin-top: 35px;
            a{
                color: #202C5A;
            }
        }

        .related-blog{
            border-top: 1px solid #E8E8E8;
            padding-top: 30px;
            margin-top: 25px;

            h3{
                font-size: 26px;
                font-weight: 700;
                color: #202c5a;
            }

            ul{
                padding-top: 16px;
                li{
                    a{
                        font-size: 16px;
                        color: #333333;
                        line-height: 30px;
                        transition: .3s;

                        &:before{
                            content:"\f105";
                            font-family: "fontawesome";
                            padding-right: 15px;
                        }

                        &:hover{
                            color: #d6102e;
                        }

                        &:hover:before{
                            color: #3186C5;
                        }
                    }
                }
            }
        }
    }

    .partner{
        padding-top: 48px;
        @media only screen and (max-width: 576px){
            .col-12:last-child{
                margin-top: 25px;
            }
        }
        .main-title{
            @include main-title();
            text-align: left;
            .main-title-line{
                margin: 17px 0px 0px 0px;
            }
        }

        .content-logo{
            padding-top: 20px;
        }
    }
}